*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: rgb(85, 85, 85);
    padding: 20px;
    border-radius: 15px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    box-shadow: -8px -8px 15px 0 rgba(235, 235, 235, 0.1), 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
    /* background: transparent; */
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    margin: 10px;
}

#equalto{
    width: 140px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
    /* flex-wrap: wrap; */
}

#dis{
    display: flex;
    flex-wrap: nowrap;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
.no{
    background: transparent;
}

.operator{
    background: local;
    background-color: rgba(255, 115, 0, 0.096);
}